@import "../variables.scss";

.todo {
    display: flex;
    align-items: center;
    margin: $spacing-l 0;

    &.saving {
        opacity: $opacity-1;
    }

    &.overdue {
        .description {
            color: $color-error;
        }
    }

    .descriptionContainer {
        display: flex;
        margin-bottom: $spacing-xs;
        align-items: center;

        span {
            margin-right: $spacing-xs;
            color: $color-error;
        }
    }
    

    .details {
        flex-grow: 100;
        margin: 0 $spacing-m;

        .extra {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dueDate {
                display: flex;
                align-items: center;

                .dueDateInput {
                    margin: 0 $spacing-s;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
